body {
  font-family: "Raleway", Arial, sans-serif;
  height: 100vh;
  width: 100vw;
  margin: 0;
}

#navbar {
  font-family: "Poller One", Arial, sans-serif;
  flex-grow: 1;
  max-height: 10%;
  min-height: 40px;
  background-color: cornflowerblue;
  color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#homeButton,
#registerButton {
  align-items: center;
  border-radius: 25px;
  padding: 10px;
  margin: 20px;
}

#homeButton:hover,
#registerButton:hover {
  background-color: darkblue;
  color: white;
  cursor: pointer;
}
