body {
  font-family: "Raleway", Arial, sans-serif;
  height: 100vh;
  width: 100vw;
  margin: 0;
}

#navbar {
  display: flex;
  font-family: "Poller One", Arial, sans-serif;
  flex-grow: 1;
  max-height: 10%;
  min-height: 40px;
  background-color: cornflowerblue;
  color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#footer {
  display: flex;
  font-family: "Poller One", Arial, sans-serif;
  background-color: cornflowerblue;
  color: black;
  justify-content: center;
  align-content: center;
}

#githubImg {
  max-height: 50px;
  max-width: 50px;
  padding: 10px;
}

#homeButton,
#registerButton,
#activitiesButton,
#loginButton,
#logOutButton,
#myRoutinesButton,
#routinesButton {
  align-items: center;
  border-radius: 25px;
  padding: 10px;
  margin: 20px;
  text-decoration: none;
}

#homeButton:hover,
#loginButton:hover,
#logOutButton:hover,
#myRoutinesButton:hover,
#registerButton:hover,
#activitiesButton:hover,
#routinesButton:hover {
  background-color: darkblue;
  color: white;
  cursor: pointer;
  text-decoration: none;
}

#activity {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
